/src/.deps
/src/.libs
/src/libcaja-xattr-tags-property-page.caja-extension.in
/src/org.mate.caja-xattrs-tags-property-page.gschema.valid                        
/src/org.mate.caja-xattrs-tags-property-page.gschema.xml                          
/src/libcaja-xattr-tags-property-page.caja-extension

/po/POTFILES
/po/stamp-it
/po/.intltool-merge-cache

Makefile.in
Makefile
Makefile.in.in

*.la
*.lo

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/config.h
/config.h.in
/config.h.in~
/config.log
/config.status

/ltmain.sh
/libtool
/m4
/omf.make
/xmldocs.make

# http://www.gnu.org/software/m4/
autom4te.cache

